@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

section {
    margin: 10px 10px;
}

.burgeroptions {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.burger {
    margin: 20px;
    padding: 10px;
    background-color: darkred;
    border-radius: 5px;
}

.burgerimg {
    width: 90%;
    
}

.allergen {
    font-weight: bold;
} 

#header-section {
    margin: 10px 15px;
    height: 200px;
    overflow:hidden;
    position: relative;
}

#header-img {
    opacity: 0.7;
    width: 100%;
    height: auto;
}

#header-h1 {
    position: absolute;
    top: 30%;
    left: 5%;
    color: darkred;
}


#menu-section {
    background-color: #000000;
    color: #ffffff;
    border: 5px dotted #ffffff;
    padding: 5px 5px 5px 5px;
}

#menu-section h2,  
#menu-section h4 {
    grid-column: 1/-1;
}

#orderinfo-section {
    border: 5px dotted #000000;
    padding: 5px 5px 5px 20px;
}

#submit-button {
    margin: 20px 0px 0px 15px;
}

button:hover {
    background-color: #ff0000;
    cursor: pointer;
}

